/* ---------------------------------------- */
        /* GENERAL DOCUMENT STYLING */
/* ---------------------------------------- */

body {
	background: #D8E5E5;
	color: #404040;
	font-family: 'Rajdhani', Monaco, monospace;
	font-size: 62.5%;
	overflow-y: scroll;
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background: #FFA500;
}

::selection  {
	background: #FFA500;
}

a:link, a:visited {
	text-decoration: none;
}

/* ---------------------------------------- */
          	/* APP STYLING */
/* ---------------------------------------- */

section {
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 1.5em;
	margin: 0 auto 1em;
	width: 19.59em;
	overflow: hidden;
}

h1 {
	border-bottom: solid 1px #3d4543;
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
}

.wrapper-1 {
	background: #F1E767;
	border: solid 1px #FEB645;
	-moz-border-radius: .3em;
	-ms-border-radius: .3em;
	-o-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	-moz-box-shadow: inset 0 0 1px #FFF, 1px 1px 4px #F1E767, -1px -1px 4px #F1E767;
	-ms-box-shadow: inset 0 0 1px #FFF, 1px 1px 4px #F1E767, -1px -1px 4px #F1E767;
	-o-box-shadow: inset 0 0 1px #FFF, 1px 1px 4px #F1E767, -1px -1px 4px #F1E767;
	-webkit-box-shadow: inset 0 0 1px #FFF, 1px 1px 4px #F1E767, -1px -1px 4px #F1E767;
	box-shadow: inset 0 0 1px #FFF, 1px 1px 4px #F1E767, -1px -1px 4px #F1E767;
	font-size: 1em;
	margin: 0 auto;
	padding: 1em;
	width: 16em;
}

.wrapper-2 {
	margin: 1em;
	overflow: hidden;
	text-align: center;
}

.wrapper-3 {
	background: #F1E767;
	border: solid 3px rgb(61,69,67);
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	overflow: hidden;
	float: right;
	width: 100%;
}

.settings {
	background: #F1E767;
	border: solid 1px #FEB645;
	border-radius: .2em;
	cursor: pointer;
	height: 2em;
	line-height: 2em;
	margin: 1em auto;
	text-align: center;
	width: 8em;
}

label {
	display: block;
	margin: -.5em;
}

.results {
	float: left;
	margin: .2em;
	width: 31%;
}

.win, .loose, .draw {
	background: #F1E767;
	background: -moz-linear-gradient(top, #F1E767 0%, #FEB645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1E767), color-stop(100%,#FEB645));
	background: -webkit-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -o-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -ms-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: linear-gradient(to bottom, #F1E767 0%,#FEB645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1E767', endColorstr='#FEB645',GradientType=0 );

	border: solid 1px #FFA500;
	-moz-border-radius: 1.2em;
	-ms-border-radius: 1.2em;
	-o-border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
	border-radius: 1.2em;
	display: block;
	height: 2.2em;
	line-height: 2.3em;
	margin: 1em auto 0;
	width: 2.2em;
}

.container {
	background: #F1E767;
	background: -moz-linear-gradient(top, #F1E767 0%, #FEB645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1E767), color-stop(100%,#FEB645));
	background: -webkit-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -o-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -ms-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: linear-gradient(to bottom, #F1E767 0%,#FEB645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1E767', endColorstr='#F1E767',GradientType=0 );

	display: block;
	font-size: 3em;
	float: left;
	height: 95px;
	line-height: 2em;
	text-align: center;
	width: 95px;
}

.new-game {
	background: #FFD65E;
	background: -moz-linear-gradient(top, #FFD65E 0%, #FEBF04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD65E), color-stop(100%,#FEBF04));
	background: -webkit-linear-gradient(top, #FFD65E 0%,#FEBF04 100%);
	background: -o-linear-gradient(top, #FFD65E 0%,#FEBF04 100%);
	background: -ms-linear-gradient(top, #FFD65E 0%,#FEBF04 100%);
	background: linear-gradient(to bottom, #FFD65E 0%,#FEBF04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD65E', endColorstr='#FEBF04',GradientType=0 );

	border: solid 1px rgb(61,69,67); /* fallback */ 
	border: solid 1px rgba(61,69,67,.5);
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.6), 0 1px 5px rgba(255,255,255,.5);
	-ms-box-shadow: inset 0 1px rgba(255,255,255,.6), 0 1px 5px rgba(255,255,255,.5);
	-o-box-shadow: inset 0 1px rgba(255,255,255,.6), 0 1px 5px rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.6), 0 1px 5px rgba(255,255,255,.5);
	box-shadow: inset 0 1px rgba(255,255,255,.6), 0 1px 5px rgba(255,255,255,.5);
	color: #3d4543;
	display: block;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: bold;
	height: 2.7em;
	letter-spacing: .2em;
	margin: 0 auto;
	text-transform: uppercase;
	width: 100%;
}

.new-game:hover {
	-moz-box-shadow: inset 0 1em 1em rgba(255,255,255,.4);
	-ms-box-shadow: inset 0 1em 1em rgba(255,255,255,.4);
	-o-box-shadow: inset 0 1em 1em rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 1em 1em rgba(255,255,255,.4);
	box-shadow: inset 0 1em 1em rgba(255,255,255,.4);
}

.r1c1 {
	border-top-left-radius: .3em;
}

.r1c2 {
	border-left: solid 1px #808080;
	border-right: solid 1px #808080;
}

.r1c3 {
	border-top-right-radius: .3em;
}

.r2c1 {
	border-bottom: solid 1px #808080;
	border-top: solid 1px #808080;
}

.r2c2 {
	border: solid 1px #808080;
}

.r2c3 {
	border-bottom: solid 1px #808080;
	border-top: solid 1px #808080;
}

.r3c1 {
	border-bottom-left-radius: .3em;
}

.r3c2 {
	border-left: solid 1px #808080;
	border-right: solid 1px #808080;
}

.r3c3 {
	border-bottom-right-radius: .3em;
}

input[type=radio] {
	display: none;
}

:focus {
	outline: 0;
}

label:before {
	background: #FFF;
	border: solid 1px #FFA500;
	border-radius: 1em;
    content: "";
    display: inline-block;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    width: 26px;
}

input[type=radio] + span {
	display: inline-block;
	height: 20px;
	vertical-align: middle;
    width: .5em;
}

input[type=radio]:checked + span:before {
	background: #F1E767;
	background: -moz-linear-gradient(top, #F1E767 0%, #FEB645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1E767), color-stop(100%,#FEB645));
	background: -webkit-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -o-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: -ms-linear-gradient(top, #F1E767 0%,#FEB645 100%);
	background: linear-gradient(to bottom, #F1E767 0%,#FEB645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1E767', endColorstr='#FEB645',GradientType=0 );

	border: 1px solid #FFA500;
	border-radius: 1em;
	box-shadow: inset 0 0 1px #FFF;
    content: '';
    display: inline-block;
    height: 20px;
    left: -25px;
    position: relative;
    top: -1px;
    width: 20px;
}